@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400');

/*CSS Document*/

#Title {
    position: relative;
    display: block;

    top: 300px;

    text-align: center;
    color: white;
}

#Title h1{
    margin: 10px;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 48px;
}
#Title h2{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 24px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*Bar Class for Top Div*/
.divBar {
    display: inline-block;
    position: absolute;
    width: 100vw;
    left:0;
}

/*Bar ID for first Div*/
#CenterBoxOne {
    background: #f1e9d2;
    height: 410px;
    top: 720px;
}

/*Div ID for Bibiography for centering*/
#BibBox {
    margin: 0 auto;
    text-align: center;
}

/*ID for Bibiography Menu List*/
#BibList {
    list-style-type: none;
    position: relative;
    display: inline-block;
    -webkit-padding-start: 0;
    top: 7.5px;
}

#BibList:hover {
    cursor: default;
}

#BibList li{
    float: left;
    position: relative;
    display: block;
    margin: 0 0 0 0;
    padding: 10px 20px 10px 20px;
    border: 1px solid none;

    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: black;
    border: none;
}

.BibInfoBox {
    display: none;
    width: 768px;
    position: absolute;
    top: 85px;
    left: 20vw;
    /*border: 1px solid black;*/
}

.BibInfoBox p{
    text-align: justify;
    text-justify: inter-word;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.BibInfoBox h2{
    position: relative;
    text-align: center;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    left:6vw;

    font-family: 'Comfortaa', cursive;
    color: black;
    font-size: 32px;
    font-weight: 400;
}

.BibInfoBox h3{
    position: relative;
    text-align: center;
    margin: 5px 0 0 0;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 0;
    left:6vw;

    font-family: 'Comfortaa', cursive;
    letter-spacing: 1.5px;
    color: rgb(100,100,100);
    font-size: 14px;
    font-weight: 300;
}

.BibInfoBox img{
    width: 160px;
    position: relative;
    float: left;

    margin: 10px 15px 0 0;
    border-radius: 50%;
    -webkit-shape-outside: ellipse();
	shape-outside: ellipse();
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#ImageOne {
    width: 100vw;
    display: inline-block;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    filter: brightness(.5); /*Note: Do this on the actual Image later to reduce CSS Load*/
    clip: rect(0px, 100vw, 730px, 0px);
}

#ImageTwo {
    width: 100vw;
    display: inline-block;
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0;
    clip: rect(1050px, 100vw, 1200px, 0px);
}